
.color-body {
 /* background-color: #f5f5f5; */
  font-family: 'Arial', sans-serif;
}

.font {
  font-size: 16px; 
}



 .brand-color {
  font-size: 26px;
  font-weight: bold;
  color: #26ab64;
  text-align: center;
}
.brand-color:hover{
  color: #ffffff;
  
}




.navbar-custom.scrolled {
  top: -70px; 
}
.header-container {
  margin-top: 50px; 
  margin-bottom: 30px; 
  padding: 10px; 
}
.tittel {
  font-size: 36px; 
  font-weight: bold; 
  color: #333; 
  margin-bottom: 10px; 
  text-align: center; 
}
.underline {
  width: 170px; 
  height: 3px; 
  background-color: #28a745;  
  margin-top: 5px; 
  border-radius: 2px; 
  display: inline-block;  
}
.col-sm-12col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* تحسين تصميم الأزرار */
.bttn {
  background-color: #28a745; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.bttn:hover {
  background-color: #2f5842;
  transform: scale(1.05); }


/* تنسيق الصورة داخل البطاقة */
.card img{
  max-width: 160px;  /* تصغير عرض الصورة */
  height: 140px; /* تصغير ارتفاع الصورة */
  object-fit: cover; /* جعل الصورة تتناسب مع الإطار دون تشويه */
  border-radius: 8px; /* جعل الحواف ناعمة */
  margin:10px;
}

/* تنسيق عنوان الوجبة */
.card-tittel {
  font-size: 18px; /* ضبط حجم العنوان */
  font-weight: bold; /* جعله أكثر وضوحًا */
  color: #333; /* لون غامق */
  text-align: right; /* محاذاة للنص من اليمين */
}

.item-price {
  color:#28a745;
  font-family:Almarai;
  font-size: 16px;
  font-weight: bold;
  letter-spacing:0;
  line-height:20px;
}